* {
    margin: 0;
    padding: 0;
}
h1{
    font-size: 20px;
    font-family: cursive ; 
    font-weight: bold;
}

h2{
    font: bold;
    font-size: 20px;
    font-family:cursive ;
}
nav{
    font-family: cursive;
}
header, section, aside, article hgroup{
    display: block;
}
body{
    text-align: center;
    background:#e8fdfd;
}
.cabecera{
    background: #ffffff;
    border: 1px solid #999999;
    padding: 20px;
    color: #000000;
}
.cabecera h1 {
    text-align: CENTER;
}
.cabecera image{
    width: 1px;
    height: 1px;
    border-style: none;
    
}
.menu{
    background: rgb(27, 27, 27);
    padding: 5px 15px;
    text-align: CENTER;
}

.menu li{
    list-style: none;
    padding: 20px;
    font:bold 14px verdana;
    display: inline-block;
    font-family: cursive;
}
.seccion{
    margin: 20px;
    width: 1260px;
    float: left;
    padding-left: 20px;
}
article{
    background: #f8f8f8;
    border: 1px solid #999;
    padding: 20px;
    margin-bottom: 15px;
}
article time {
    color: rgb(184, 13, 13);
}
article footer {
    text-align: right;
    margin-top: 20px;
}
.columna{
    margin-top: 20px;
    width: 300px;
    float: right;
    padding-right: 25px;

}
.columna blockquote {
    border: 1px solid black;
    padding: 40px;
    background: #fff7ec;
    margin-bottom: 40px;
}
.pie{
    clear: both;
    padding: 20px;
    background: #b2bec3;
}
img{
    display: block;
    margin: 20px auto;
    border-style: solid;
    border-color: #2f3542;
    border-width: 3px;
    
}
.seccion li {
    text-align: left;
    margin-left: 15px;
    font-family: cursive;
}
p{
    text-align: justify;
    line-height: 23px;
}
div{
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}
h4{
    text-align: center;
    font-size: 15px;
}
p{
    font-family:cursive;
    margin-top: 10px;
}
table {
    border-collapse: separate;
    border-spacing: 10px 5px;
    margin-top: 20px;
    padding-top: 10px;
    font-family: cursive;
}
@import url('https://fonts.googleapis.com/css?family=Overpass');

.left-side {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #000;
    overflow: hidden;
    z-index: 3;
}

.right-side {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #000;
    z-index: 3;
    overflow: hidden;
}
.hover {
    position: absolute;
    float: left;
    height: 70px;
    width: 70px;
    cursor: none;
    overflow: hidden;
}

.bit-top {
	position: absolute;
	left: 0%;
	top: 0%;
	height: 5px;
	width: 10px;
	background: #fff;
}

.bit-top-left {
	position: absolute;
	left: 0%;
	top: 5px;
	height: 5px;
	width: 5px;
	background: #fff;
}


.bit-top-right {
	position: absolute;
	right: 0%;
	top: 0%;
	height: 5px;
	width: 10px;
	background: #fff;
}

.bit-top-right-2 {
	position: absolute;
	right: 0%;
	top: 0px;
	height: 10px;
	width: 5px;
	background: #fff;
}

.bit-bottom-left {
	position: absolute;
	bottom: 0%;
	left: 0px;
	height: 10px;
	width: 5px;
	background: #fff;	
}

.bit-bottom-left-2 {
	position: absolute;
	bottom: 0%;
	left: 0px;
	height: 5px;
	width: 10px;
	background: #fff;		
}

.bit-bottom-right {
	position: absolute;
	bottom: 0%;
	right: 0px;
	height: 5px;
	width: 10px;
	background: #fff;			
}
.bit-bottom-right-2 {
	position: absolute;
	bottom: 0%;
	right: 0px;
	height: 10px;
	width: 5px;
	background: #fff;			
}

.blur {
    position: absolute;
    color: #fefefe;
    font-family: 'Overpass', sans-serif;
    font-size: 64px;
    letter-spacing: 20px;
    margin: auto;
    width: 100%;
    filter: blur(5px);
    cursor: none;
    overflow: hidden;
    text-align: center;
    z-index: 3;
}

.focus {
    position: absolute;
    color: #fefefe;
    font-family: 'Overpass', sans-serif;
    font-size: 64px;
    letter-spacing: 20px;
    margin: auto;
    width: 100%;
    filter: blur(0px);
    cursor: none;
    overflow: hidden;
    text-align: center;
    z-index: 2;
}

.container {
	position: absolute;
	height: 80vh;
	padding-top: 20vh;
	width: 100%;
	overflow: hidden;
}


body {
	background: #000;
	margin: 0;
	padding: 0;
	cursor: none;
}



/* Made by */
body {
	margin: 0;
	padding: 0;
}
#made-by-cameron {
	position: fixed;
	bottom: 0%;
	height: 5vh;
	width: 100%;
	font-size: 1.2rem;
	z-index: 9;
	color: #f1f1f1;
}
#made-by-cameron a {
	color: #f1f1f1;
}
.made-by-author {
	position: absolute;
	right: 2%;
	top: 23%;
}
.made-by-twitter {
	position: absolute;
	left: 2%;
	top: 23%;
}